#g-test6-box .g-artboard {
    margin:0 auto;
}
#g-test6-box .g-artboard p {
    margin:0;
}
.g-aiAbs {
    position:absolute;
}
.g-aiImg {
    display:block;
    width:100% !important;
}
.g-aiPointText p { white-space: nowrap; }
#g-test6-Artboard_1 {
    position:relative;
    overflow:hidden;
    /*width:825px;*/
}
#g-test6-Artboard_1 p {
    font-weight:500;
    font-size:17px;
    line-height:23px;
    filter:alpha(opacity=100);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity:1;
    padding-top:0;
    letter-spacing:0em;
    text-align:left;
    color:rgb(255,255,255);
    text-transform:none;
    padding-bottom:0;
    mix-blend-mode:normal;
    font-style:normal;
}
#g-test6-Artboard_1 .g-pstyle0 {
    font-size:10px;
    line-height:12px;
}
#g-test6-Artboard_1 .g-pstyle1 {
    font-size:10px;
    line-height:12px;
    color:rgb(0,0,0);
}
#g-test6-Artboard_1 .g-pstyle2 {
    font-weight:600;
    font-size:30px;
    line-height:36px;
    letter-spacing:0.01em;
}
#g-test6-Artboard_1 .g-pstyle3 {
    padding-top:10px;
}
#g-test6-Artboard_1 .g-pstyle4 {
    font-size:14px;
    line-height:17px;
}